.navigation__container {
  width: 100%;
  z-index: 4;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
  list-style: none;
}

.navigation__btn {
  display: none;
}

.navigation__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link-container_main {
  display: none;
}

.navigation__link-container:not(:last-child) {
  margin-right: 16px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  transition: opacity 0.5s ease-out;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link_profile {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.navigation__avatar-container {
  margin-left: 15px;
  background-color: #313131;
  border-radius: 4px;
  padding: 8px;
}

@media (max-width: 960px) {
  .navigation__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
  }

  .navigation__container_active {
    visibility: visible;
    opacity: 1;
  }

  .navigation__menu {
    flex-direction: column;
    position: fixed;
    max-width: 520px;
    width: 100%;
    height: calc(100% - 247px);
    background-color: #202020;
    margin: 0;
    padding: 160px 0 87px;
  }

  .navigation__links {
    flex-direction: column;
    align-items: center;
  }

  .navigation__link-container_main {
    display: list-item;
  }

  .navigation__link-container:not(:last-child) {
    margin-right: 0;
    margin-bottom: 28px;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  .navigation__link_active {
    border-bottom: 2px #ffffff solid;
  }

  .navigation__link_profile {
    font-size: 14px;
    line-height: 16px;
  }

  .navigation__btn {
    display: inline-block;
    height: 23px;
    width: 28px;
    background-color: #00000000;
    border: 0px;
    padding: 0;
    transition: opacity 0.5s ease-out;
    cursor: pointer;
    z-index: 5;
    margin-right: 8px;
  }

  .navigation__btn_active {
    position: fixed;
    top: 25px;
    right: 12px;
  }

  .navigation__btn-icon {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: width 0.5s ease 0s;
  }

  .navigation__btn-icon::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    position: relative;
    top: -10px;
    transition: transform 0.5s ease 0s;
  }

  .navigation__btn-icon::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 7px;
    transition: transform 0.5s ease 0s;
  }

  .navigation__btn-icon_active::before {
    transform: rotate(45deg);
    transform-origin: left bottom;
  }

  .navigation__btn-icon_active:after {
    top: 8px;
    transform: rotate(-45deg);
    transform-origin: left top;
  }

  .navigation__btn:hover {
    opacity: 0.6;
  }
}

@media (max-width: 600px) {
  .navigation__menu {
    height: calc(100% - 185px);
    padding: 145px 0 40px;
  }

  .navigation__link-container:not(:last-child) {
    margin-bottom: 24px;
  }

  .navigation__link {
    padding-bottom: 6px;
  }

  .navigation__btn {
    width: 22px;
    height: 21px;
  }

  .navigation__btn_active {
    top: 16px;
    right: 7px;
  }

  .navigation__btn-icon {
  }

  .navigation__btn-icon::before {
    top: -8px;
  }

  .navigation__btn-icon::after {
    top: 5px;
  }
}

.navigation__btn-icon_active {
  height: 0;
}
