.search__container {
  padding: 70px 0 50px;
}

.search__form {
  margin-bottom: 30px;
}

.search__form:hover, .search__form:focus, .search__form:active {
  -webkit-box-shadow: 0 5px 44px 2px rgba(66, 133, 244, 0.2);
  -moz-box-shadow: 0 5px 44px 2px rgba(66, 133, 244, 0.2);
  box-shadow: 0 5px 44px 2px rgba(66, 133, 244, 0.2);
}

.search__fieldset {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 100px;
  gap: 50px;
  border: 1.5px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0;
  padding: 10px 10px 15px;
  position: relative;
}

.search__icon {
  width: 34px;
  height: 34px;
  border: 1px solid #424242;
  box-sizing: border-box;
  border-radius: 48px;
  object-position: center;
  object-fit: none;
}

.search__label {
  font-size: 0;
}

.search__input {
  width: 100%;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.search__input-error {
  position: absolute;
  top: 34px;
  left: 50%;
  font-size: 12px;
  line-height: 15px;
  color: #cc3d00;
  transform: translateX(-50%);
}

.search__btn {
  border: none;
  background-color: #4285f4;
  border-radius: 5px;
  height: 52px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  cursor: pointer;

  transition: opacity 0.5s ease-out, transform 0.3s ease;
}

.search__btn:hover {
  opacity: 0.6;
}

.search__btn:active {
  transform: scale(0.9);
}

@media (max-width: 1280px) {
  .search__input {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 960px) {
  .search__container {
    width: calc(100% - 60px);
    padding: 85px 0 60px;
  }
}

@media (max-width: 600px) {
  .search__container {
    width: calc(100% - 28px);
    padding: 92px 0 50px;
  }

  .search__icon {
    display: none;
  }
  .search__form {
    margin-bottom: 42px;
  }

  .search__fieldset {
    grid-template-columns: 1fr 80px;
    align-items: center;
    gap: 20px;
    padding-bottom: 9px;
  }

  .search__input-error {
    top: 26px;
    left: 0;
    transform: none;
  }
}

@media (max-width: 320px) {
  .search__input {
    font-size: 16px;
    line-height: 16px;
  }
}
