.filter__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__text {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0 0 0 12px;
}

.filter__text_disabled {
  opacity: 0.6;
}

.filter__checkbox {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #313131;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
}

.filter__checkbox:checked {
  background-color: #3ddc84;
}

.filter__checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
  transition: opacity, left 0.2s ease-in-out;
}

.filter__checkbox:hover::after {
  opacity: 0.7;
}

.filter__checkbox:checked::after {
  left: 18px;
}

.filter__checkbox:disabled {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .filter__text {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
  }
}
